* {
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "menu"
    "main"
    "facts"
    "footer";
    background-color: aliceblue;
    gap: 10px;
}
.header{
    grid-area: header;
    background-color: purple;
    text-align: center;
    color: white;
}
.header>h1{
    font-size: 40px;
}
.menu{
    grid-area: menu;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: white;
}
.menu li:hover{
    background-color: black;
}
.content{
    grid-area: main;
}
.content > h1{
    font-size: 30px;
    margin-bottom: 7px;
}
.content > p{
    margin-bottom: 7px;
}
.facts{
    grid-area: facts;
    border: 1px solid #0099cc;
    background-color: beige;
    padding: 10px;
}
.facts > h2{
    font-size: 20px;
}
.facts li{
    margin-bottom: 5px;
}
.footer{
    grid-area: footer;
    background-color: #0099cc;
    color: white;
    text-align: center;
}
@media (min-width: 600px){
    .header {grid-area: 1/span 6;}
    .menu{grid-area: 2/span 1;}
    .content{grid-area: 2/span 5;}
    .facts{grid-area: 3/span 6;}
    .footer{grid-area: 4/span 6;}
}
@media (min-width: 768px){
    .header {grid-area: 1/span 6;}
    .menu{grid-area: 2/span 1;}
    .content{grid-area: 2/span 4;}
    .facts{grid-area: 2/span 1;}
    .footer{grid-area: 3/span 6;}
}