$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$myBorder: 1px;
$myBorder_color : blue;

body {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}

#container {
    width: $myWidth;
    border: $myBorder;
    color: $myBorder_color;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}