#div{
    display: flex;
    flex-direction: column;
}
#div1{
    background-color: palevioletred;
    height: 75px;
    margin-bottom: 20px;
}
#div234{
    display: flex;
    display: inline-flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
#div2{
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    height: 200px;
    width: 250px;
    margin-bottom: 20px;
}
#div34{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px
}
#div3{
    display: flex;
    background-color: palevioletred;
    height: 80px;
    width: 250px;
}
#div4{
    background-color: palevioletred;
    height: 80px;
    width: 250px;
    justify-content: center;
    align-items: center;
}
#div5{
    background-color: palevioletred;
    height: 175px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
#div6{
    background-color: palevioletred;
    height: 35px;
    margin-bottom: 20px;
}

.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "article text1"
    "article text2"
    "main main"
    "footer footer";
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 5px;
}
.container div{
    background-color: purple;
    padding: 10px;
}
.container .text1{
    grid-area: text1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}
.container .text2{
    grid-area: text2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}
.container div.header{
    grid-area: header;
    text-align: center;
}
.container div.article{
    grid-area: article;
    text-align: center;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div.main{
    grid-area: main;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div.footer{
    grid-area: footer;
    text-align: center;
}